body {
  background-color: rgb(33, 33, 33);
}

.calBody {
  width :fit-content;
  padding :45px;
  background-color: rgb(0, 0, 0);
}


.calDisplay {
  width: 400px;
  height: 100px;
  background-color: lightgrey;
  border-radius: 20px;
  font-size: 45px;
  text-align: right;
}

.numButton {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  font-size: 45px;
  margin: 3px;
  border: none;
  color: white;
  background-color: rgb(45, 45, 45);
}

.opeButton {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  font-size: 45px;
  margin: 3px;
  color: white;
  background-color: rgb(253, 144, 0);
  border: none;
}

.acButton {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  font-size: 45px;
  margin: 3px;
  background-color: rgb(145, 145, 145);
  border: none;
}

.pointButton {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  font-size: 45px;
  margin: 3px;
  border: none;
  color: white;
  background-color: rgb(45, 45, 45);
}

.opeButton-division {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  font-size: 0px;
  margin: 3px;
  color: white;
  background-color: rgb(253, 144, 0);
  border: none;
}

.opeButton-division:before {
  font-size: 60px;
  content:"÷"
}

.opeButton-multiplication {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  font-size: 0px;
  margin: 3px;
  color: white;
  background-color: rgb(253, 144, 0);
  border: none;
}

.opeButton-multiplication:before {
  font-size: 60px;
  content:"×";
}